/* Landing Page styling here */
.main-container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
  
    background-color: beige;
  
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    margin: auto;
  }
  
  .secondary-container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    bottom: 0;
  
  }